body {
  margin: 0;
  font-family: MarkWeb, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #50e3c2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style-type: none;
  text-align: left;
}
